<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h3>
        Welcome to {{title | async}}!
    </h3>

    <mat-form-field>
        <mat-select (selectionChange)="selectUser($event.value)" [value]="0">
            <mat-option *ngFor="let user of users ; index as i" [value]="i">{{ user.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card class="example-card" style="text-align:left; max-width:300px; margin: 0 auto; padding:0px;">
        <mat-toolbar color="primary">
            Snacks
        </mat-toolbar>
        <mat-card-content>
            <mat-list>
                <ng-container *ngFor="let fruit of fruits">
                    <mat-list-item>
                        <mat-slide-toggle style="float:right;" [checked]="user && user.votes && user.votes.indexOf(fruit.key) >=0" (change)="toggleVote(fruit)"></mat-slide-toggle>

                        <h3 matLine> {{ fruit.name }} </h3>
                        <span matLine>{{ fruit.votes }} Votes</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </mat-card-content>
    </mat-card>

</div>

<router-outlet></router-outlet>